
# ==================================================
# Copy this file to .env and customize
# ==================================================

# --------------------------------------------------
# Required for AngelList job search
# --------------------------------------------------

AngelListEmail="CHANGE"
AngelListPassword='CHANGE'

# --------------------------------------------------
# Optional, for using custom Lynx config file
# --------------------------------------------------

LynxConfigFile='CHANGE'

# --------------------------------------------------
# Optional, for suppressing some console output
# --------------------------------------------------

SilentMode='false'

# --------------------------------------------------
# Optional, for finding concurrency gaps
# --------------------------------------------------

DebugMode='false'
